mixin h1(v)
	.container
		.row
			.col-12
				h1= v

mixin svg(icon, name_class, width,height)
	svg.icon(class=name_class?name_class:'', width=width?width:'', height=height?height:'')
		use(xlink:href='assets/sprites/sprite.svg#'+icon)

mixin header(info)
	header.header(style="background-image: url(/assets/img/menus.jpg)")
		.container
			a.header__back
				+svg('ic-arrow-left','ic-arrow-left ic-white', '16', '12')
				| Back
				
			h1= info.title