mixin h1(v)
	.container
		.row
			.col-12
				h1= v

mixin svg(icon, name_class, width,height)
	svg.icon(class=name_class?name_class:'', width=width?width:'', height=height?height:'')
		use(xlink:href='assets/sprites/sprite.svg#'+icon)

mixin header(info)
	header.header(style="background-image: url(/assets/img/"+info.img+")")
		.container
			a.header__back.d-none.d-md-block(href="#")
				+svg('ic-arrow-left','ic-arrow-left ic-white', '16', '12')
				| Back
				
			h1= info.title

			if(info.text)
				.header__text= info.text


mixin progress(info)
	.progress(class=info.color=='orange'?'progress_orange':info.color=='red'?'progress_red':'')
		.progress__info
			.progress__title= info.title
			.progress__mark= info.num

		.progress__field
			.progress__line(style="width: "+info.percent+"%")

mixin range(info)
	.range
		.range__top
			.range__title= info.title
			.range__val= info.val
		
		.range__progress
			.range__line(style="width:"+info.width+"%")
				.range__slider

			.range__num
				each item in info.list
					.range__item(class=item.status?'active':'')
						span.range__item-text= item.num