extends ../layout/main

block variables
	- var title = 'Branch profile';

block content
	.detail-office-wrap
		section.gallery
			a.gallery__back(href="#")
				+svg('ic-arrow-left','ic-arrow-left ic-white', '16', '12')
				| Back

			.gallery-list
				.gallery-list__item.gallery-list__item_big
					img(src="/assets/img/gallery1.jpg", alt="")
				
				.gallery-list__item
					img(src="/assets/img/gallery2.jpg", alt="")

				.gallery-list__group
					.gallery-list__item
						img(src="/assets/img/gallery3.jpg", alt="")

					.gallery-list__item
						img(src="/assets/img/gallery4.jpg", alt="")

				.gallery-list__item.gallery-list__item_small
					img(src="/assets/img/gallery2.jpg", alt="")

			.gallery__more
				a.btn.btn_opacity All photos (12)
		
		section.detail-office
			.container
				.detail-office__top
					.detail-office__info
						.detail-office__head
							.detail-office__main
								.detail-office__logo(style="background-image: url(/assets/img/mac.jpg)")
								.detail-office__title McDonalds

							.detail-office__price $$60-120

						.service-info
							-
								var list=[
									{icon:'ic-clock', title:'Working hours'},
									{icon:'ic-direction', title:'Delivery areas'},
									{icon:'ic-table', title:'Book a table'},
									{icon:'ic-gift', title:'Gift card'},
								]
							
							each item in list
								a(href="#").service-info__item
									span.service-info__icon
										+svg(item.icon,item.icon, '20', '20')
									span.service-info__text= item.title

									if(item.title=='Working hours')
										.service-popup
											.service-popup__content
												.service-time
													-
														var days=[
															{title:'S'},
															{title:'M'},
															{title:'T'},
															{title:'W'},
															{title:'T'},
															{title:'F'},
															{title:'S'},
														]
													each day, index in days
														.service-time__item(class=day.status?'active':'')= day.title
														.service-time__popup
															.service-time__val 12:00 - 22:00
																span= index

						.detail-office__desc Mediterranean, International, Vegan, Free gluten

						.rating-card
							.rating-card__top
								.rating-card__head-wrap
									.rating-card__title Rating
									.rating-card__desc Based on 485 reviews from last 12 months

								.mark.mark_orange
									.mark__text 3,7

							.rating-card__content
								-
									var list=[
										{title:'Tasty', num:'4,3', percent:'86'},
										{title:'Delivery speed', num:'3,6', color:'orange', percent:'72'},
										{title:'Service', num:'3', color:'orange', percent:'60'},
										{title:'Price/quality', num:'', color:'4,6', percent:'92'},
									]

								each item in list
									+progress(item)

							.rating-card__bottom
								span.rating-card__more Social networks rating
									+svg('ic-arrow-down','ic-arrow-down', '12', '8')


					.detail-office__location
						.detail-office__icons
							.icon-group
								.icon-group__list
									-
										var list=[
											{icon:'ic-accessibility-wc', status:'active'},
											{icon:'ic-deaf', status:'active'},
											{icon:'ic-accessibility', status:'active'},
											{icon:'ic-park'}
										]

									each item in list
										.icon-group__item(class=item.status=='active'?'active':'')
											+svg(item.icon,item.icon, '25', '24')

							.coins-panel
								.coins-panel__content
									.coins-panel__icon
										+svg('ic-euro','ic-euro', '40', '40')
									.coins-panel__text Geteat coins for next order

								.coins-panel__percent 15%

						.contact-card
							.contact-card__head Contacts

							.contact-card__content
								.contact-card__list
									.contact-card__item
										.contact-card__title Address

										.contact-card__val
											+svg('ic-address','ic-address', '12', '16')
											|Fishman 19, Tel Aviv

									.contact-card__item
										.contact-card__title Phone

										.contact-card__val
											a(href="#")
												+svg('ic-phone','ic-phone', '16', '16')
												|Show number

									.contact-card__item
										.contact-card__title Social media

										.contact-card__val
											.social
												a(href="#").social__item
													+svg('ic-instagram','ic-instagram', '16', '16')

												a(href="#").social__item
													+svg('ic-facebook','ic-facebook', '16', '16')

												a(href="#").social__item
													+svg('ic-tripadvisor','ic-tripadvisor', '16', '16')

								.contact-card__map(style="background-image: url(/assets/img/map.jpg)")

				.detail-office__bottom
					.advant
						img(src="/assets/img/advant-wave.png", alt="").advant__bg
						-
							var list=[
								{img:'delivery.svg', title:'Delivery'},
								{img:'takeaway.svg', title:'Takeaway', text:'Preparation time - 30 min'},
								{img:'future.svg', title:'Future order'},
								{img:'confetti.svg', title:'Special events'},
								{img:'table.svg', title:'Sitting'},
								{img:'kosher.svg', title:'Kosher'},
							]

						each item in list
							.advant__item
								.advant__img
									img(src="/assets/img/"+item.img, alt="")
								.advant__title= item.title
								
								if(item.text)
									.advant__text= item.text

					.working-time.working-time_red
						.working-time__img
							img(src="/assets/img/tablet_close.svg", alt="")

						.countdown
							.countdown__label Opens in
							.countdown__content
								.countdown__sect
									.countdown__item 0
									.countdown__item 0

								.countdown__sect
									.countdown__item 2
									.countdown__item 3

								.countdown__sect
									.countdown__item 0
									.countdown__item 3
		
		section.review-wrap
			.container
				.review-wrap__top
					.review-wrap__title Reviews (122)

					a(href="#").btn.btn_orange Write review

				.review-list
					-
						var list=[
							{img:'woman.jpg', name:'Alise Clarck', title:'Fantastic burgers', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu turpis tristique dapibus justo lectus sed. Urna ipsum felis sed cras ornare morbi metus. Et, sed sed mi, ullamcorper eu. In cras quis senectus nunc. Vel cras massa sodales tortor urna eleifend ut egestas. Ultricies id laoreet volutpat egestas nunc dictumst in.', date:'10/11/2019 at 19:32', like:'ic-like', rating:'4,7', rating_img:'5'},
							{img:'man.jpg', name:'Adam Smith', title:'Fantastic burgers', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu turpis tristique dapibus justo lectus sed. Urna ipsum felis sed cras ornare morbi metus. Et, sed sed mi, ullamcorper eu. In cras quis senectus nunc. Vel cras massa sodales tortor urna eleifend ut egestas. Ultricies id laoreet volutpat egestas nunc dictumst in.', date:'10/11/2019 at 19:32', like:'ic-like-fill', rating:'2,8', rating_color:'red', rating_img:'3'},
							{img:'woman.jpg', name:'Alise Clarck', title:'Fantastic burgers', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu turpis tristique dapibus justo lectus sed. Urna ipsum felis sed cras ornare morbi metus. Et, sed sed mi, ullamcorper eu. In cras quis senectus nunc. Vel cras massa sodales tortor urna eleifend ut egestas. Ultricies id laoreet volutpat egestas nunc dictumst in.', date:'10/11/2019 at 19:32', like:'ic-like-fill', rating:'4,7', rating_img:'5'},
							{img:'man.jpg', name:'Adam Smith', title:'Fantastic burgers', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit tortor, pharetra eu proin nisi, ligula nisl, cursus sit. Nunc eu volutpat amet, tortor. Amet, integer sollicitudin purus amet adipiscing. Et lectus gravida donec sodales vulputate egestas morbi. Placerat etiam viverra semper sit posuere faucibus. Nam in at aliquam interdum enim gravida fringilla. Elementum massa nascetur nam nec eu. Nunc blandit morbi diam non. Lobortis phasellus ultrices condimentum feugiat vitae a risus facilisis ipsum', date:'10/11/2019 at 19:32', like:'ic-like', rating:'2,8', rating_color:'red', rating_progress:'true'}
						]

					each item in list
						.review-item
							.review-item__main
								.review-item__author
									.review-item__img(style="background-image: url(/assets/img/"+item.img+")")
									.review-item__name= item.name

								.review-item__content
									.review-item__info
										.review-item__title= item.title
										.review-item__text= item.text

									.review-item__bottom
										.review-item__date= item.date
										+svg(item.like,item.like, '20', '20')

							.review-rating
								if(item.rating_img)
									.review-rating__top
										.review-rating__title Rating

										.mark(class=item.rating_color=='red'?'mark_red':'')
											.mark__text= item.rating

									.review-gallery
										if(item.rating_img=='5')
											-
												var gallery=[
													{img:'review1.jpg'},
													{img:'review2.jpg'},
													{img:'review1.jpg'},
													{img:'review2.jpg'},
													{img:'review2.jpg', count:'+2'},
												]
										else
											-
												var gallery=[
													{img:'review1.jpg'},
													{img:'review2.jpg'},
													{img:'review1.jpg'},
												]
										each gal, index in gallery
											.review-gallery__item(style="background-image: url(/assets/img/"+gal.img+")")
												if(index == '4')
													.review-gallery__count= gal.count

								if(item.rating_progress)
									.review-progress
										.review-progress__title Rating

										.mark.mark_red
											.mark__text= item.rating

										.review-progress__list
											-
												var progress=[
													{title:'Tasty', num:'2,3', color:'red', percent:'46'},
													{title:'Delivery speed', num:'2.1', color:'red', percent:'42'},
													{title:'Service', num:'3.9', color:'orange', percent:'78'},
													{title:'Price/quality', num:'2.8', color:'red', percent:'56'},
												]

											each line in progress
												+progress(line)
											
				.review-list__more
					a(href="#").btn.btn_border Load more

block footer
	footer.footer
		.container
			.footer__content
				.footer-logo
					.footer-logo__img(style="background-image: url(/assets/img/mac.jpg)")
					.footer-logo__name McDonalds

				.countdown
					.countdown__label Opens in
					.countdown__content
						.countdown__sect
							.countdown__item 0
							.countdown__item 0

						.countdown__sect
							.countdown__item 2
							.countdown__item 3

						.countdown__sect
							.countdown__item 0
							.countdown__item 3

				.footer__btn
					.footer__price $$60-120
					a(href="#").btn Order now