extends ../layout/main

block variables
	- var title = 'Branch profile';
	- var shadow_site='true';
	- var body_scroll='false'

block modal
	.popup-wrap(style="width: 1000px;")
		.popup
			.popup__close
				+svg('ic-grad-close','ic-grad-close', '32', '32')

			.popup__top
				.popup__head
					.h2 Book a table
			.popup__content
				//- .form-new-user
				form
					.book-table
						.book-table__top
							.book-table__count
								.book-table__title Diners

								.counter
									.counter__min
										+svg('ic-minus','ic-minus', '18', '4')

									input.counter__input(type='text', value='2')

									.counter__max
										+svg('ic-plus','ic-plus', '18', '18')
							
							.book-table__time
								.input-date
									input(type='date', value='2020-04-10')
									
								.input-time
									input(type='text', value='17:00 - 20:00')

						.book-table__list
							-
								var list=[
									{
										title:'Outside',
										icon:'ic-smoking',
										notice:'max 30 dinners',
										time:[
											{val:'17:00', count:'20', size:'75'},
											{val:'18:00', count:'25', size:'86'},
											{val:'19:00', count:'15', size:'58'},
											{val:'20:00', count:'30', status:'inactive', size:'100'}
										]
									},
									{
										title:'Near windows',
										notice:'max 20 dinners',
										size:'86',
										time:[
											{val:'17:00', count:'15', size:'75'},
											{val:'18:00', count:'17', size:'86'},
											{val:'19:00', count:'12', status:'open', size:'58'},
											{val:'20:00', count:'30', status:'inactive', size:'100'}
										]
									},
									{
										title:'Center',
										notice:'max 15 dinners',
										size:'58',
										time:[
											{val:'17:00', count:'10', size:'75'},
											{val:'18:00', count:'12', size:'86'},
											{val:'19:00', count:'13', size:'58'},
											{val:'20:00', count:'15', status:'inactive', size:'100'}
										]
									},
									{
										title:'Code',
										notice:'code',
										size:'100',
										time:[
											{val:'17:00', count:'8', size:'75'},
											{val:'18:00', count:'9', size:'86'},
											{val:'19:00', count:'16', size:'58'},
											{val:'20:00', count:'20', status:'inactive', size:'100'}
										]
									},
								]
							
							each item in list
								.book-table-card
									.book-table-card__top
										.book-table-card__title= item.title
											if(item.icon)
												+svg(item.icon,item.icon, '17', '10')

										.book-table-card__notice= item.notice

									.book-table-card__content
										each time in item.time
											.book-table-card__item(class=time.status=='inactive'?'inactive':time.status=='open'?'open':'')
												if(time.status=='open')
													.book-table-order
														.book-table-order__close
															+svg('ic-close-thin','ic-close-thin', '14', '14')

														.book-table-order__item
															.book-table-order__label Table 3
															.book-table-order__val 4 dinners

														.book-table-order__item
															.book-table-order__label Table 7
															.book-table-order__val 8 dinners

														.book-table-order__item
															.book-table-order__label Table 8
															.book-table-order__val 2 dinners

														.book-table-order__item
															.book-table-order__label Table 15
															.book-table-order__val 4 dinners

												.book-table-card__line(style="width:"+time.size+"%")
													.book-table-card__time= time.val
													.book-table-card__count= time.count

						.book-table-res
							.book-table-res__item
								.book-table-res__val Table 8
									span.book-table-res__close
										+svg('ic-close-thin','ic-close-thin', '14', '14')

								.book-table-res__time 19:20
									+svg('ic-watch','ic-watch', '20', '20')


						.book-table-field
							.book-table-field__label Notes
							textarea(placeholder="Some special comments")

						.book-table-card__bottom
							button.btn(type='submit')
								span Book

							.book-table-card__link-wrap
								a(href="#").book-table-card__link
									+svg('ic-confetti','ic-confetti', '16', '16')
									|Special event
										

block content
	include ../components/detail-office