extends ../layout/main

block variables
	- var title = 'Menu';
	- var header_info = {title:'Menus', img:'menus.jpg'};

block content
	section.top-menu-wrap
		.container
			.top-menu-wrap__content
				-
					var list=[
						{title:'Menu', status:'active'},
						{title:'Menu2'},
						{title:'Menu 3'},
						{title:'Menu 4'},
						{title:'Menu 5'},
						{title:'Menu 6'},
						{title:'Menu 7'},
					]

				.top-menu
					each item in list
						a.top-menu__item(href="#", class=item.status=='active'?'active':'')= item.title

				.top-action
					.top-action__btn
						.search.search_grey.d-md-none
							.search__btn
								+svg('ic-search','ic-search ic-stroke', '20', '20')

						.filter
							.filter__btn
								+svg('ic-filter','ic-filter', '22', '22')
								+svg('ic-cancel','ic-cancel', '16', '16')

							.filter__popup
								.filter__close
									+svg('ic-close-thin','ic-close-thin', '16', '16')

								-
									var list=[
										{img:'avocado.svg', title:'Vegan'},
										{img:'gluten.svg', title:'More'},
										{img:'broccoli.svg', title:'Vegeterian'},
										{img:'avocado.svg', title:'Vegan'},
										{img:'broccoli.svg', title:'Vegeterian'},
										{img:'avocado.svg', title:'Vegan'},
										{img:'gluten.svg', title:'More'},
										{img:'avocado.svg', title:'Vegan'},
										{img:'gluten.svg', title:'Ipsum'},
										{img:'broccoli.svg', title:'Vegeterian'},
										{img:'avocado.svg', title:'Lorem'},
									]

								.cat-filter
									each item in list
										.cat-filter__item
											.cat-filter__icon
												img(src="/assets/img/"+item.img, alt="")
											.cat-filter__text= item.title



								.filter__label Filters

								.filter__list
									-
										var filters=[
											{title:'Popular'},
											{title:'Takeaway'},
											{title:'Nearby'},
											{title:'Future order', status:'checked'},
											{title:'Respect VIP points'},
											{title:'Kosher'},
											{title:'Delivery', status:'checked'},
											{title:'Expresss'},
										]

									each item, index in filters
										.filter__item
											.input-check
												if(item.status=='checked')
													input(type='checkbox', id='filter'+index, checked='checked')
												else
													input(type='checkbox', id='filter'+index)
												label.input-check__label(for='filter'+index)
													span.input-check__mark
														+svg('ic-check','ic-check', '16', '12')
													span.input-check__text= item.title

									
								.filter__bottom
									.filter__bottom-item
										a(href="#").filter__clear clear all

									.filter__bottom-item
										a(href="#").filter__cancel Cancel
										a(href="#").filter__apply Apply

					.view.d-md-none
						.view__item.active
							+svg('ic-view-line','ic-view-line', '20', '14')

						.view__item
							+svg('ic-view-tile','ic-view-tile', '14', '14')

	section.catalog-wrap
		.container
			.catalog
				.catalog-menu.d-none.d-lg-block
					-
						var list=[
							{text:'Entrees', status:'active'},
							{text:'Salads'},
							{text:'Soups'},
							{text:'Main dishes'},
							{text:'Wok-noodles'},
							{text:'Sweets'},
							{text:'Children dishes'},
							{text:'Side dishes'},
							{text:'Japan’s Specials'},
							{text:'Rolls'},
							{text:'Main dishes'},
							{text:'Wok-noodles'},
							{text:'Extra dishes', status:'inactive'},
						];

					each item in list
						.catalog-menu__item(class=item.status=='active'?'active':item.status=='inactive'?'inactive':'')
							a.catalog-menu__link(href='#')
								span.catalog-menu__icon
									+svg('ic-burger','ic-burger', '20', '20')
								span.catalog-menu__text= item.text

				.catalog__content
					<!--if list tile we need add class .catalog-list.catalog-list_tile-->
					.catalog-list
						-
							var list=[
								{img:'steak-big.jpg', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in fames amcorper senectus feugiat quis.'},
								{img:'steak-big.jpg', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in fames amcorper senectus feugiat quis.'},
								{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 6,49', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis volutpat aliquam cursus tincidunt gravida arcu.'},
								{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 6,49', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis volutpat aliquam cursus tincidunt gravida arcu.'},
								{img:'steak-big.jpg', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in fames amcorper senectus feugiat quis.'},
								{img:'steak-big.jpg', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in fames amcorper senectus feugiat quis.'},
								{img:'cucumber-big.jpg', name:'Cucumber', cur_price:'$ 0,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
								{img:'cucumber-big.jpg', name:'Cucumber', cur_price:'$ 0,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
								{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 6,49', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis volutpat aliquam cursus tincidunt gravida arcu.'},
								{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 6,49', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis volutpat aliquam cursus tincidunt gravida arcu.'},
								{img:'steak-big.jpg', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in fames amcorper senectus feugiat quis.'},
								{img:'steak-big.jpg', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in fames amcorper senectus feugiat quis.'},
							];

						each item in list
							.catalog-list__item
								a.catalog-list__img(href='#', style="background-image: url('/assets/img/"+item.img+"');")

								.catalog-list__content
									.catalog-list__info
										.catalog-list__name
											a(href='#')= item.name

											.catalog-list__price-tile
												.catalog-list__price-def= item.cur_price
												if(item.old_price)
													.catalog-list__price-old= item.old_price
													
										.catalog-list__text= item.text

									.catalog-list__price
										.catalog-list__price-def= item.cur_price
										if(item.old_price)
											.catalog-list__price-old= item.old_price
									